*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body,h1{
    color: rgb(255, 255, 255);
    font-size: 20px;
    background: black;
    border-radius: 20px;
    justify-content: center;
    justify-items: center;
    display: flex;
    align-items: center;
    min-height: 10vh;
    width: 50%;
    background-size: cover;
    background-position: center;

}
.body,a{
    text-decoration: none;
    color: white;
    background: black;
    border-radius: px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url("https://img.freepik.com/vetores-premium/ilustracao-plana-do-conceito-de-programador-nativo-react-ilustracao-para-sites-paginas-de-destino-aplicativos-moveis-cartazes-e-banners_108061-736.jpg?w=740")
      no-repeat;
    background-position: center;
    background-size: cover;
  }
