*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*direitos autorais*/
.direitos-autorais{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-block-start: 200px;
}
a{
    text-decoration: none;
    color: #3396d7;
    font-size: 20px;
    border: 1px solid #3396d7;
    padding: 2px;
    border-radius: 10px;
}
a:hover{
    background-color: #3396d7;
    color: white;
}
/*direitos autorais*/

.container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.card{
    background-color: #f7f7f7;
    padding: 60px 30px;
    border-radius: 20px;
    border: 1px solid white;
    min-width: 100%dvh;
    height: 100%dvh;
}
.title{
    font-size: 30px;
    margin-block: 40px;
    margin-top: -110px;
    color: black;
}
.logo{
    display: flex;
    margin: auto;
    margin-top: 20px;
}
.user{
    display: flex;
    margin: auto;
    margin-bottom: 20px;
}

.label-pass input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    outline: 1px solid black;
    border-radius: 5px;
    min-width: 10px;
    font-size: 16px;
    transition: all .3s ease-out;
}
i{
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    color: black;
}
.label-float input{
    width: 100%;
    padding: 5px 5px;
    display: inline-block;
    border: 0;
    outline: 1px solid black;
    border-radius: 5px;
    min-width: 10px;
    font-size: 16px;
    transition: all .3s ease-out;
}
.label-pass{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;  
}

.label-float{
    position: relative;
    padding-top: 13px;
    margin-top: 5%;
    margin-bottom: 5%;
}
.label-pass label{
    color: rgb(87, 177, 52);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all;
}

.label-float label{
    color: rgb(87, 177, 52);
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 13px;
    transition: all;
}
button{
    background: radial-gradient(#3396d7, #2a82bc);
    color: white;
    padding: 15px 124px;
    font-weight: bold;
    font-size: 12pt;
    margin-top: 20px;
    border: 0;
    border-radius: 8px;
    cursor: pointer;
    outline: none;
}

.justify-center{
    display: flex;
    justify-content: center;
}

#msgError{
    text-align: center;
    color: #ff0000;
    background-color: #ffbbbb;
    padding: 10px;
    border-radius: 4px;
    display: none;
}
.fa-moon{
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: -189px;
    color: black;
 }
.fa-solid{
    font-size: 25px;
    cursor: pointer;
    position: absolute;
    right: -30px;
    top: -189px;
    color: black;
 }



