/*mobile*/
@media (max-width: 1000px) {
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit',Sans-Serif;
  }
  /* SUBTITULO */
  h1{
    color: #fff;
    display: auto;
    font-size: 30px;
    padding: 10px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    transition: 200ms;
  }

  h1:hover{
    color: #3396d7;
    transform: scaleX(1.4);
  }
  
  /* LINK HTML */
  iframe{
    width: 80%;
    
  } 
  
  /* ESTILO MENU LATERAL */
  nav,manu-lateral{ 
    width: 50px;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(20px);
    padding: 10px 0 40px 1%;
    box-shadow: 5px 0 0 #3396d7;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .5s;
  }
  
  /* TRASIÇÃO DO MENU LATERAL */
  nav.menu-lateral.expandir{ 
      width:210px;
  }
  
  /* BTN EXPANDIR */
  .btn-expandir{ 
    width: 100%;
    padding-left: 15px;
  }
  
  /* BTN ICONE EXPANDIR  */
  .btn-expandir > i{
    color: #fff;
    font-size:24px;
    cursor: pointer;
  }
  
  /* DIVISORIO DOS MENUS */
  ul{
    height: 100%;
    list-style-type: none;
  }
  
  /* MENU ITEM */
  ul li.item-menu{
      transition: .4s;
  }
  
  /* COR MENU SELECT */
  ul li.ativo{
    background-color: #3396d7;
  }
  
  /* ANIMAÇÃO DO MENU */
  ul li.item-menu:hover{
      background: #3396d7;
  }
  
  /* DIVISORIO DO ITEM MENU */
  ul li.item-menu a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 15px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 30px;
  }
   
  /* ESTILO DO TXT DO MENU */
  ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: .5s;
    opacity: 0;
  }
  
  /* ANIMAÇÃO DO TXT DO MENU */
  nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
  }
  
  /* CONFIG. LINK ICON MENU */
  ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
  }
  
}
