/*Todos os direitos voltados para Alisson Hiosaki*/

/*mobile*/
@media (max-width: 800px){
    body{
        background: url(./image/mobile\ login.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 98vh;
        background-position: center center;
    }
    
}