@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Outfit',Sans-Serif;
}
/* TELA HOME */
body{
  height: 100vh;
  background: url(https://wiki.omv-extras.org/lib/exe/fetch.php?cache=&media=omv6ug_-top.jpg);
  background-size: cover;
}

/* SUBTITULO */
h1{
  color: #fff;
  display: flex;
  justify-content: center;
  font-size: 50px;
  padding: 10px;
  background-color: transparent;
  backdrop-filter: blur(20px);
  border-block-end: 4px solid #3396d7;

}

/* LINK HTML */
iframe{
  margin-left:85px;
  
} 

/* ESTILO MENU LATERAL */
nav,manu-lateral{ 
  width: 80px;
  height: 100%;
  background-color: transparent;
  backdrop-filter: blur(20px);
  padding: 40px 0 70px 1%;
  box-shadow: 5px 0 0 #3396d7;
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: .5s;
}

/* TRASIÇÃO DO MENU LATERAL */
nav.menu-lateral.expandir{ 
    width: 300px;
}

/* FUNÇÃO BTN EXPANDIR */
.btn-expandir{ 
  width: 100%;
  padding-left: 10px;
}

/* BTN EXPANDIR  */
.btn-expandir > i{
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* DIVISORIO DOS MENUS */
ul{
  height: 100%;
  list-style-type: none;
}

/* MENU ITEM */
ul li.item-menu{
    transition: .4s;
}

/* COR MENU SELECT */
ul li.ativo{
  background-color: #3396d7;
}

/* ANIMAÇÃO DO MENU */
ul li.item-menu:hover{
    background: #3396d7;
}

/* DIVISORIO DO ITEM MENU */
ul li.item-menu a{
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  padding: 10px 4%;
  display: flex;
  margin-bottom: 20px;
  line-height: 30px;
}
 
/* ESTILO DO TXT DO MENU */
ul li.item-menu a .txt-link{
  margin-left: 90px;
  transition: .5s;
  opacity: 0;
}

/* ANIMAÇÃO DO TXT DO MENU */
nav.menu-lateral.expandir .txt-link{
  margin-left: 30px;
  opacity: 1;
}

/* CONFIG. LINK ICON MENU */
ul li.item-menu a .icon > i{
  font-size: 30px;
  margin-left: 10px;
}
