/*mobile*/
@media (max-width: 800px){
    
    *{
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
       /*direitos autorais*/
       .direitos-autorais{
        color: rgb(255, 255, 255);
        display: flex;
        align-items: center;
        justify-content: center;
        justify-items: center;
        margin-top: 100px;
        font-size: 10;
        margin: 50px;
    }
    a{
        text-decoration: none;
        color: #3396d7;
        font-size: 10px;
        transition: all linear 200ms;
       }
       a:hover{
        background-color: #3396d7;
        color: white;
        
       }

    /*direitos autorais*/

    .container{
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 100px;
       
    }
    
    .card{
        background-color: transparent;
        backdrop-filter: blur(10px);
        padding: 60px 30px;
        border-radius: 20px;
        border: 1px solid rgb(255, 255, 255);
        min-width: 10%dvh;
        height: 100%dvh;
    }
    .title{
        font-size: 30px;
        margin-block: 40px;
        margin-top: -110px;
        color: rgb(255, 255, 255);
    }
    .logo{
        display: flex;
        margin: auto;
        margin-top: 20px;
        
    }
    .user{
        display: flex;
        margin: auto;
        margin-bottom: 20px;
        border-radius: 50%;
        backdrop-filter: blur(10px);
    }
    .label-pass input{
        width: 100%;
        padding: 5px 5px;
        display: inline-block;
        border: 0;
        outline: 1px solid #d6d6d6;
        background: transparent;
        backdrop-filter: blur(40px);
        border-radius: 5px;
        min-width: 10px;
        font-size: 16px;
        transition: all .3s ease-out;
    }

    /*btn mostrar senha*/
    i{
        font-size: 25px;
        cursor: pointer;
        position: absolute;
        right: 5px;
        color: rgb(245, 245, 245);
    }/*btn mostrar senha*/
    .label-float input{
        width: 100%;
        padding: 5px 5px;
        display: inline-block;
        border: 0;
        outline: 1px solid #d6d6d6;
        background: transparent;
        backdrop-filter: blur(40px);
        border-radius: 5px;
        min-width: 10px;
        font-size: 16px;
        transition: all .3s ease-out;
    }
    /*placeholder text usuario e senha*/
    ::placeholder{
        color: #ffffff;
        font-size: 16px;
    }
    /*placeholder*/
    .label-pass{
        position: relative;
        padding-top: 13px;
        margin-top: 5%;
        margin-bottom: 5%;  
    }
    
    .label-float{
        position: relative;
        padding-top: 13px;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    .label-pass label{
        color: rgb(87, 177, 52);
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 13px;
        transition: all;
    }
    
    .label-float label{
        color: rgb(87, 177, 52);
        pointer-events: none;
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 13px;
        transition: all;
    }
    button{
        background: linear-gradient(#3396d7, #1f72a9);
        color: white;
        padding: 15px 124px;
        font-weight: bold;
        font-size: 12pt;
        margin-top: 20px;
        border: 0;
        border-radius: 8px;
        cursor: pointer;
        outline: none;
    }


    .justify-center{
        display: flex;
        justify-content: center;
    }
    
    #msgError{
        text-align: center;
        color: #ff0000;
        background-color: #ffbbbb;
        padding: 10px;
        border-radius: 4px;
        display: none;
    }
}

/*mobile*/ 
@media (max-width: 800px){
    body{
        background: url(/./lib/image/Mobile.png);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        background-position: center center;
    }
    
}
